@media screen and (max-width:900px){
    .container{
        display: grid;
        margin: auto;
        margin-left: 90px;
        grid-template-columns: repeat(auto-fill, 900px);
    }

    .item2{
        width: 100%;
    }
}