@media screen and (min-width:350px){
    .container{
        display: grid;
        margin: auto;
        justify-content: space-between;
        grid-template-columns: repeat(auto-fill, 350px);
        
    }
    .item2{
        width: 100%;
    }
}